@charset "utf-8";

*{
   padding: 0;
   margin: 0;
}

   *,
   *:before
   *;after {
      box-sizing: border-box;
   }

.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}

.clearfix:after {
   clear:both;
}

.containerEngrenages{
   position: relative;
   display: inline-block;
   width: 170px;
   height: 170px;
   top: 100px;
   left: 49%;
   animation-name: rotate;
   animation-duration: 3s;
   animation-timing-function: linear;
}

 @keyframes rotate {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.containerEngrenages .roll1{
   width: 30px;
   height: 30px;
   border-radius: 100%;
   background-color: black;
   position: absolute;
   left: 70px;
   top: 70px;
}

.containerEngrenages .barre1{
   width: 170px;
   height: 5px;
   transform: rotate(60deg);
   top: 82px;
   position: absolute;
   background-color: black;
}

.containerEngrenages .barre2{
   width: 170px;
   height: 5px;
   transform: rotate(-60deg);
   top: 82px;
   position: absolute;
   background-color: black;
}

.containerEngrenages .barre3{
   width: 170px;
   height: 5px;
   top: 82px;
   position: absolute;
   background-color: black;
}

.containerEngrenages .roll2{
   width: 70px;
   height: 70px;
   border-radius: 100%;
   background-color: none;
   border: solid black 5px;
   position: absolute;
   left: 45px;
   top: 45px;
}

.containerEngrenages .roll3{
   width: 160px;
   height: 160px;
   border-radius: 100%;
   background-color: none;
   border: solid black 5px;
   position: absolute;
}